<form (ngSubmit)="onSubmit()" [formGroup]="form" clrForm>

  <!-- <ng-container *ngFor="let question of dynamicFormData.questions">

</ng-container> -->

	<library-question 
		[questionGroups]="dynamicFormData.questionGroups"
		[patchValue]="patchValue"
		[pureForm]="pureForm"
		[form]="form"
    	(chipChange$)="chipChangeEvent($event)">
	</library-question>


  <div *ngIf="dynamicFormData.formButtons">
    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>
  </div>

</form>
