<!-- <div #mainContainer class="main-container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <span>Footer text</span>
  <hr style="border-color: grey; margin-bottom: 0">
  <div style="text-align: center">
    <small>&copy; {{copywrite}}</small>
  </div>
</footer> -->


<clr-main-container>
  <router-outlet></router-outlet>
</clr-main-container>
<footer class="footer">
  <span>Footer text</span>
  <hr style="border-color: grey; margin-bottom: 0">
  <div style="text-align: center">
    <small>&copy; {{copywrite}}</small>
  </div>
</footer>
